In [53]:
import pandas as pd
import requests
import json

url = 'https://servicodados.ibge.gov.br/api/v1/paises/BR/indicadores/'
url_indicadores = 'https://servicodados.ibge.gov.br/api/v1/paises/indicadores/'

response = requests.get(url=url)
if response.status_code == 200:
    print(f'Sucesso na requisição - {response}')
else:
    print(f'Erro na requisição com o servidor - {response.status_code}')

dados_indicadores_json = response.json()

Sucesso na requisição - <Response [200]>

In [54]:
print(type(dados_indicadores_json))
print(type(response.json()))

<class 'list'>
<class 'list'>

In [55]:
## funcao que pega os dados da api
def get_api_ibge(pais: str, indicador: int):
    url = f'https://servicodados.ibge.gov.br/api/v1/paises/{pais}/indicadores/{indicador}'
    response = requests.get(url=url)
    if response.status_code == 200:
        print(f'Sucesso na requisição - {response}')
    else:
        print(f'Erro na requisição com o servidor - {response.status_code}')

    json_data = response.json()
    return json_data

In [56]:
dados_gastos_educacao = get_api_ibge('BR', 77819)

Sucesso na requisição - <Response [200]>

In [57]:
dict_gastos_educacao = dados_gastos_educacao[0]

In [58]:
dict_gastos_educacao.items()

dict_items([('id', 77819), ('indicador', 'Economia - Gastos públicos com educação'), ('unidade', {'id': '% do PIB', 'classe': 'N', 'multiplicador': 1}), ('series', [{'pais': {'id': 'BR', 'nome': 'Brasil'}, 'serie': [{'-': None}, {'1990': None}, {'1990-1995': None}, {'1995': '4.57'}, {'1995-2000': None}, {'1999-2001': None}, {'2000': '3.95'}, {'2000-2002': None}, {'2000-2005': None}, {'2001': '3.84'}, {'2001-2003': None}, {'2002': '3.75'}, {'2002-2004': None}, {'2003': None}, {'2003-2005': None}, {'2004': '3.97'}, {'2004-2006': None}, {'2005': '4.48'}, {'2005-2007': None}, {'2005-2010': None}, {'2006': '4.87'}, {'2006-2008': None}, {'2007': '4.97'}, {'2007-2009': None}, {'2008': '5.27'}, {'2008-2010': None}, {'2009': '5.46'}, {'2009-2011': None}, {'2010': '5.65'}, {'2010-2012': None}, {'2010-2015': None}, {'2011': '5.74'}, {'2011-2013': None}, {'2012': '5.86'}, {'2012-2014': None}, {'2013': '5.84'}, {'2013-2015': None}, {'2014': '5.95'}, {'2014-2016': None}, {'2015': '6.24'}, {'2015-2017': None}, {'2015-2020': None}, {'2016': '6.31'}, {'2016-2018': None}, {'2017': '6.32'}, {'2017-2019': None}, {'2018': '6.09'}, {'2018-2020': None}, {'2019': '5.96'}, {'2020': None}, {'2021': None}, {'2022': None}]}])])

In [59]:
dict_gastos_educacao.keys()

dict_keys(['id', 'indicador', 'unidade', 'series'])

In [60]:
dict_gastos_educacao.values()

dict_values([77819, 'Economia - Gastos públicos com educação', {'id': '% do PIB', 'classe': 'N', 'multiplicador': 1}, [{'pais': {'id': 'BR', 'nome': 'Brasil'}, 'serie': [{'-': None}, {'1990': None}, {'1990-1995': None}, {'1995': '4.57'}, {'1995-2000': None}, {'1999-2001': None}, {'2000': '3.95'}, {'2000-2002': None}, {'2000-2005': None}, {'2001': '3.84'}, {'2001-2003': None}, {'2002': '3.75'}, {'2002-2004': None}, {'2003': None}, {'2003-2005': None}, {'2004': '3.97'}, {'2004-2006': None}, {'2005': '4.48'}, {'2005-2007': None}, {'2005-2010': None}, {'2006': '4.87'}, {'2006-2008': None}, {'2007': '4.97'}, {'2007-2009': None}, {'2008': '5.27'}, {'2008-2010': None}, {'2009': '5.46'}, {'2009-2011': None}, {'2010': '5.65'}, {'2010-2012': None}, {'2010-2015': None}, {'2011': '5.74'}, {'2011-2013': None}, {'2012': '5.86'}, {'2012-2014': None}, {'2013': '5.84'}, {'2013-2015': None}, {'2014': '5.95'}, {'2014-2016': None}, {'2015': '6.24'}, {'2015-2017': None}, {'2015-2020': None}, {'2016': '6.31'}, {'2016-2018': None}, {'2017': '6.32'}, {'2017-2019': None}, {'2018': '6.09'}, {'2018-2020': None}, {'2019': '5.96'}, {'2020': None}, {'2021': None}, {'2022': None}]}]])

In [61]:
data_to_df = dict_gastos_educacao['series'][0]['serie']

In [62]:
data_list = dict_gastos_educacao['series'][0]['serie'][1:]
data_list

[{'1990': None},
 {'1990-1995': None},
 {'1995': '4.57'},
 {'1995-2000': None},
 {'1999-2001': None},
 {'2000': '3.95'},
 {'2000-2002': None},
 {'2000-2005': None},
 {'2001': '3.84'},
 {'2001-2003': None},
 {'2002': '3.75'},
 {'2002-2004': None},
 {'2003': None},
 {'2003-2005': None},
 {'2004': '3.97'},
 {'2004-2006': None},
 {'2005': '4.48'},
 {'2005-2007': None},
 {'2005-2010': None},
 {'2006': '4.87'},
 {'2006-2008': None},
 {'2007': '4.97'},
 {'2007-2009': None},
 {'2008': '5.27'},
 {'2008-2010': None},
 {'2009': '5.46'},
 {'2009-2011': None},
 {'2010': '5.65'},
 {'2010-2012': None},
 {'2010-2015': None},
 {'2011': '5.74'},
 {'2011-2013': None},
 {'2012': '5.86'},
 {'2012-2014': None},
 {'2013': '5.84'},
 {'2013-2015': None},
 {'2014': '5.95'},
 {'2014-2016': None},
 {'2015': '6.24'},
 {'2015-2017': None},
 {'2015-2020': None},
 {'2016': '6.31'},
 {'2016-2018': None},
 {'2017': '6.32'},
 {'2017-2019': None},
 {'2018': '6.09'},
 {'2018-2020': None},
 {'2019': '5.96'},
 {'2020': None},
 {'2021': None},
 {'2022': None}]

In [63]:
df = pd.DataFrame(data_list)
df.head()

,1990,1990-1995,1995,1995-2000,1999-2001,2000,2000-2002,2000-2005,2001,2001-2003,...,2016,2016-2018,2017,2017-2019,2018,2018-2020,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
## transformando as colunas em linhas
df_ajustado = pd.melt(df, var_name='Ano', value_name='Valor')
df = df_ajustado.dropna().reset_index()
df = df[['Ano', 'Valor']]
df

     Ano Valor
0   1995  4.57
1   2000  3.95
2   2001  3.84
3   2002  3.75
4   2004  3.97
5   2005  4.48
6   2006  4.87
7   2007  4.97
8   2008  5.27
9   2009  5.46
10  2010  5.65
11  2011  5.74
12  2012  5.86
13  2013  5.84
14  2014  5.95
15  2015  6.24
16  2016  6.31
17  2017  6.32
18  2018  6.09
19  2019  5.96

In [65]:
## ajustando o dataframe
id_unidade = dict_gastos_educacao['unidade']['id']
df['id_unidade'] = id_unidade
unidade_pais = dict_gastos_educacao['series'][0]['pais']['id']
df['id_pais'] = unidade_pais
df['multiplicador'] = dict_gastos_educacao['unidade']['multiplicador']
df = df[['id_pais', 'id_unidade', 'multiplicador', 'Ano', 'Valor']]
df

   id_pais id_unidade  multiplicador   Ano Valor
0       BR   % do PIB              1  1995  4.57
1       BR   % do PIB              1  2000  3.95
2       BR   % do PIB              1  2001  3.84
3       BR   % do PIB              1  2002  3.75
4       BR   % do PIB              1  2004  3.97
5       BR   % do PIB              1  2005  4.48
6       BR   % do PIB              1  2006  4.87
7       BR   % do PIB              1  2007  4.97
8       BR   % do PIB              1  2008  5.27
9       BR   % do PIB              1  2009  5.46
10      BR   % do PIB              1  2010  5.65
11      BR   % do PIB              1  2011  5.74
12      BR   % do PIB              1  2012  5.86
13      BR   % do PIB              1  2013  5.84
14      BR   % do PIB              1  2014  5.95
15      BR   % do PIB              1  2015  6.24
16      BR   % do PIB              1  2016  6.31
17      BR   % do PIB              1  2017  6.32
18      BR   % do PIB              1  2018  6.09
19      BR   % do PIB              1  2019  5.96

### Pegando os dados do PIB

In [66]:
pib = get_api_ibge('BR', 77827)
pib

Sucesso na requisição - <Response [200]>

[{'id': 77827,
  'indicador': 'Economia - Total do PIB',
  'unidade': {'id': 'US$', 'classe': 'N', 'multiplicador': 1},
  'series': [{'pais': {'id': 'BR', 'nome': 'Brasil'},
    'serie': [{'-': None},
     {'1990': '464989098144.85'},
     {'1990-1995': None},
     {'1995': '769333330439.52'},
     {'1995-2000': None},
     {'1999-2001': None},
     {'2000': '655448188246.11'},
     {'2000-2002': None},
     {'2000-2005': None},
     {'2001': '559983704075.66'},
     {'2001-2003': None},
     {'2002': '509795270707.27'},
     {'2002-2004': None},
     {'2003': '558233724160.74'},
     {'2003-2005': None},
     {'2004': '669289321953.68'},
     {'2004-2006': None},
     {'2005': '891633826582.61'},
     {'2005-2007': None},
     {'2005-2010': None},
     {'2006': '1107626711436.44'},
     {'2006-2008': None},
     {'2007': '1397114247287.58'},
     {'2007-2009': None},
     {'2008': '1695855391816.48'},
     {'2008-2010': None},
     {'2009': '1666996294324.76'},
     {'2009-2011': None},
     {'2010': '2208838108593.19'},
     {'2010-2012': None},
     {'2010-2015': None},
     {'2011': '2616156606734.51'},
     {'2011-2013': None},
     {'2012': '2465228293862.62'},
     {'2012-2014': None},
     {'2013': '2472819362259'},
     {'2013-2015': None},
     {'2014': '2456043766063.5'},
     {'2014-2016': None},
     {'2015': '1802211999555.59'},
     {'2015-2017': None},
     {'2015-2020': None},
     {'2016': '1795693265824.27'},
     {'2016-2018': None},
     {'2017': '2063514688761.67'},
     {'2017-2019': None},
     {'2018': '1916933708404.16'},
     {'2018-2020': None},
     {'2019': '1873288159000.64'},
     {'2020': '1476107292036.59'},
     {'2021': '1649622972159.35'},
     {'2022': '1920095560995.06'}]}]}]

In [67]:
dados_pib = pib[0]['series'][0]['serie'][1:]
dados_pib

[{'1990': '464989098144.85'},
 {'1990-1995': None},
 {'1995': '769333330439.52'},
 {'1995-2000': None},
 {'1999-2001': None},
 {'2000': '655448188246.11'},
 {'2000-2002': None},
 {'2000-2005': None},
 {'2001': '559983704075.66'},
 {'2001-2003': None},
 {'2002': '509795270707.27'},
 {'2002-2004': None},
 {'2003': '558233724160.74'},
 {'2003-2005': None},
 {'2004': '669289321953.68'},
 {'2004-2006': None},
 {'2005': '891633826582.61'},
 {'2005-2007': None},
 {'2005-2010': None},
 {'2006': '1107626711436.44'},
 {'2006-2008': None},
 {'2007': '1397114247287.58'},
 {'2007-2009': None},
 {'2008': '1695855391816.48'},
 {'2008-2010': None},
 {'2009': '1666996294324.76'},
 {'2009-2011': None},
 {'2010': '2208838108593.19'},
 {'2010-2012': None},
 {'2010-2015': None},
 {'2011': '2616156606734.51'},
 {'2011-2013': None},
 {'2012': '2465228293862.62'},
 {'2012-2014': None},
 {'2013': '2472819362259'},
 {'2013-2015': None},
 {'2014': '2456043766063.5'},
 {'2014-2016': None},
 {'2015': '1802211999555.59'},
 {'2015-2017': None},
 {'2015-2020': None},
 {'2016': '1795693265824.27'},
 {'2016-2018': None},
 {'2017': '2063514688761.67'},
 {'2017-2019': None},
 {'2018': '1916933708404.16'},
 {'2018-2020': None},
 {'2019': '1873288159000.64'},
 {'2020': '1476107292036.59'},
 {'2021': '1649622972159.35'},
 {'2022': '1920095560995.06'}]

In [68]:
df_pib = pd.DataFrame(dados_pib)
df_pib.head()

,1990,1990-1995,1995,1995-2000,1999-2001,2000,2000-2002,2000-2005,2001,2001-2003,...,2016,2016-2018,2017,2017-2019,2018,2018-2020,2019,2020,2021,2022
0,464989098144.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,769333330439.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df_pib = pd.melt(df_pib, value_name='Valor_PIB', var_name='Ano')
df_pib = df_pib.dropna()

In [71]:
df_pib.reset_index(inplace=True)
df_pib = df_pib[['Ano', 'Valor_PIB']]
df_pib

     Ano         Valor_PIB
0   1990   464989098144.85
1   1995   769333330439.52
2   2000   655448188246.11
3   2001   559983704075.66
4   2002   509795270707.27
5   2003   558233724160.74
6   2004   669289321953.68
7   2005   891633826582.61
8   2006  1107626711436.44
9   2007  1397114247287.58
10  2008  1695855391816.48
11  2009  1666996294324.76
12  2010  2208838108593.19
13  2011  2616156606734.51
14  2012  2465228293862.62
15  2013     2472819362259
16  2014   2456043766063.5
17  2015  1802211999555.59
18  2016  1795693265824.27
19  2017  2063514688761.67
20  2018  1916933708404.16
21  2019  1873288159000.64
22  2020  1476107292036.59
23  2021  1649622972159.35
24  2022  1920095560995.06