In [28]:
import pandas as pd
import requests
import json

url = 'https://servicodados.ibge.gov.br/api/v1/paises/BR/indicadores/'
url_indicadores = 'https://servicodados.ibge.gov.br/api/v1/paises/indicadores/'

response = requests.get(url=url)
if response.status_code == 200:
    print(f'Sucesso na requisição - {response}')
else:
    print(f'Erro na requisição com o servidor - {response.status_code}')

dados_indicadores_json = response.json()

Sucesso na requisição - <Response [200]>

In [29]:
print(type(dados_indicadores_json))
print(type(response.json()))

<class 'list'>
<class 'list'>

In [30]:
## funcao que pega os dados da api
def get_api_ibge(pais: str, indicador: int):
    url = f'https://servicodados.ibge.gov.br/api/v1/paises/{pais}/indicadores/{indicador}'
    response = requests.get(url=url)
    if response.status_code == 200:
        print(f'Sucesso na requisição - {response}')
    else:
        print(f'Erro na requisição com o servidor - {response.status_code}')

    json_data = response.json()
    return json_data

In [31]:
dados_gastos_educacao = get_api_ibge('BR', 77819)

Sucesso na requisição - <Response [200]>

In [32]:
dict_gastos_educacao = dados_gastos_educacao[0]

In [33]:
dict_gastos_educacao.items()

dict_items([('id', 77819), ('indicador', 'Economia - Gastos públicos com educação'), ('unidade', {'id': '% do PIB', 'classe': 'N', 'multiplicador': 1}), ('series', [{'pais': {'id': 'BR', 'nome': 'Brasil'}, 'serie': [{'-': None}, {'1990': None}, {'1990-1995': None}, {'1995': '4.57'}, {'1995-2000': None}, {'1999-2001': None}, {'2000': '3.95'}, {'2000-2002': None}, {'2000-2005': None}, {'2001': '3.84'}, {'2001-2003': None}, {'2002': '3.75'}, {'2002-2004': None}, {'2003': None}, {'2003-2005': None}, {'2004': '3.97'}, {'2004-2006': None}, {'2005': '4.48'}, {'2005-2007': None}, {'2005-2010': None}, {'2006': '4.87'}, {'2006-2008': None}, {'2007': '4.97'}, {'2007-2009': None}, {'2008': '5.27'}, {'2008-2010': None}, {'2009': '5.46'}, {'2009-2011': None}, {'2010': '5.65'}, {'2010-2012': None}, {'2010-2015': None}, {'2011': '5.74'}, {'2011-2013': None}, {'2012': '5.86'}, {'2012-2014': None}, {'2013': '5.84'}, {'2013-2015': None}, {'2014': '5.95'}, {'2014-2016': None}, {'2015': '6.24'}, {'2015-2017': None}, {'2015-2020': None}, {'2016': '6.31'}, {'2016-2018': None}, {'2017': '6.32'}, {'2017-2019': None}, {'2018': '6.09'}, {'2018-2020': None}, {'2019': '5.96'}, {'2020': None}, {'2021': None}, {'2022': None}]}])])

In [34]:
dict_gastos_educacao.keys()

dict_keys(['id', 'indicador', 'unidade', 'series'])

In [35]:
dict_gastos_educacao.values()

dict_values([77819, 'Economia - Gastos públicos com educação', {'id': '% do PIB', 'classe': 'N', 'multiplicador': 1}, [{'pais': {'id': 'BR', 'nome': 'Brasil'}, 'serie': [{'-': None}, {'1990': None}, {'1990-1995': None}, {'1995': '4.57'}, {'1995-2000': None}, {'1999-2001': None}, {'2000': '3.95'}, {'2000-2002': None}, {'2000-2005': None}, {'2001': '3.84'}, {'2001-2003': None}, {'2002': '3.75'}, {'2002-2004': None}, {'2003': None}, {'2003-2005': None}, {'2004': '3.97'}, {'2004-2006': None}, {'2005': '4.48'}, {'2005-2007': None}, {'2005-2010': None}, {'2006': '4.87'}, {'2006-2008': None}, {'2007': '4.97'}, {'2007-2009': None}, {'2008': '5.27'}, {'2008-2010': None}, {'2009': '5.46'}, {'2009-2011': None}, {'2010': '5.65'}, {'2010-2012': None}, {'2010-2015': None}, {'2011': '5.74'}, {'2011-2013': None}, {'2012': '5.86'}, {'2012-2014': None}, {'2013': '5.84'}, {'2013-2015': None}, {'2014': '5.95'}, {'2014-2016': None}, {'2015': '6.24'}, {'2015-2017': None}, {'2015-2020': None}, {'2016': '6.31'}, {'2016-2018': None}, {'2017': '6.32'}, {'2017-2019': None}, {'2018': '6.09'}, {'2018-2020': None}, {'2019': '5.96'}, {'2020': None}, {'2021': None}, {'2022': None}]}]])

In [36]:
data_to_df = dict_gastos_educacao['series'][0]['serie']

In [37]:
data_list = dict_gastos_educacao['series'][0]['serie'][1:]

In [38]:
df = pd.DataFrame(data_list)

In [39]:
## transformando as colunas em linhas
df_ajustado = pd.melt(df, var_name='Ano', value_name='Valor')
df = df_ajustado.dropna().reset_index()
df = df[['Ano', 'Valor']]

In [40]:
## ajustando o dataframe
id_unidade = dict_gastos_educacao['unidade']['id']
df['id_unidade'] = id_unidade
unidade_pais = dict_gastos_educacao['series'][0]['pais']['id']
df['id_pais'] = unidade_pais
df['multiplicador'] = dict_gastos_educacao['unidade']['multiplicador']
df_dados_educacao = df[['id_pais', 'id_unidade', 'multiplicador', 'Ano', 'Valor']]

### Pegando os dados do PIB

In [41]:
pib = get_api_ibge('BR', 77827)

Sucesso na requisição - <Response [200]>

In [42]:
dados_pib = pib[0]['series'][0]['serie'][1:]

In [43]:
df_pib = pd.DataFrame(dados_pib)

In [44]:
df_pib = pd.melt(df_pib, value_name='Valor_PIB', var_name='Ano')
df_pib = df_pib.dropna()

In [45]:
df_pib.reset_index(inplace=True)
df_pib = df_pib[['Ano', 'Valor_PIB']]

In [46]:
df_pib['Valor_PIB'] = pd.to_numeric(df_pib['Valor_PIB'], errors='coerce')
df_dados_educacao['Valor'] = pd.to_numeric(df_dados_educacao['Valor'], errors='coerce')
df_pib['Valor_PIB'] = df_pib['Valor_PIB'].astype(float)
df_dados_educacao['Valor'] = df_dados_educacao['Valor'].astype(float)

In [47]:
pd.options.display.float_format = '{:.2f}'.format

In [48]:
df_tratado = pd.merge(df_dados_educacao, df_pib, on='Ano', how='inner')
df_tratado['Ano'] = df_tratado['Ano'].astype((int))
df_tratado['gasto_educacao'] = ( df_tratado['Valor'] * df_tratado['Valor_PIB'] ) / 100
df_tratado = df_tratado[['id_pais', 'multiplicador', 'Ano', 'Valor', 'Valor_PIB', 'gasto_educacao']]
df_tratado.columns = ['id_pais', 'multiplicador', 'ano', 'gasto % pib', 'valor_pib_ano', 'gasto_educacao_ano']
df_tratado

,id_pais,multiplicador,ano,gasto % pib,valor_pib_ano,gasto_educacao_ano
0,BR,1,1995,4.57,769333330439.52,35158533201.09
1,BR,1,2000,3.95,655448188246.11,25890203435.72
2,BR,1,2001,3.84,559983704075.66,21503374236.51
3,BR,1,2002,3.75,509795270707.27,19117322651.52
4,BR,1,2004,3.97,669289321953.68,26570786081.56
5,BR,1,2005,4.48,891633826582.61,39945195430.90
6,BR,1,2006,4.87,1107626711436.44,53941420846.95
7,BR,1,2007,4.97,1397114247287.58,69436578090.19
8,BR,1,2008,5.27,1695855391816.48,89371579148.73
9,BR,1,2009,5.46,1666996294324.76,91017997670.13
10,BR,1,2010,5.65,2208838108593.19,124799353135.52
11,BR,1,2011,5.74,2616156606734.51,150167389226.56
12,BR,1,2012,5.86,2465228293862.62,144462378020.35
13,BR,1,2013,5.84,2472819362259.00,144412650755.93
14,BR,1,2014,5.95,2456043766063.50,146134604080.78
15,BR,1,2015,6.24,1802211999555.59,112458028772.27
16,BR,1,2016,6.31,1795693265824.27,113308245073.51
17,BR,1,2017,6.32,2063514688761.67,130414128329.74
18,BR,1,2018,6.09,1916933708404.16,116741262841.81
19,BR,1,2019,5.96,1873288159000.64,111647974276.44

In [49]:
df_tratado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_pais             20 non-null     object
 1   multiplicador       20 non-null     int64
 2   ano                 20 non-null     int64
 3   gasto % pib         20 non-null     float64
 4   valor_pib_ano       20 non-null     float64
 5   gasto_educacao_ano  20 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.1+ KB

## Inserindo os dados no banco

In [50]:
from sqlalchemy import create_engine, MetaData, Table, and_
from sqlalchemy import Table, Column, Integer, String, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [51]:
path_cred_banco = 'D:\Projetos\etl_api\senhabanco.txt'
with open(path_cred_banco, 'r') as file:
    pass_banco = file.read()
    print(pass_banco)

cofre1234

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Usuario\AppData\Local\Temp\ipykernel_16032\3465118208.py:1: SyntaxWarning: invalid escape sequence '\P'
  path_cred_banco = 'D:\Projetos\etl_api\senhabanco.txt'

In [52]:
engine = create_engine(f'oracle+cx_oracle://sys:{pass_banco}@localhost:1521/orcl')